.grid-container{
    background: #ad9d8f;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.game-page{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.5);
}

.btn-container{
    padding-top: 1.5rem;
    padding-bottom: 1rem;
}

.btn-2048{
    padding: 12px 32px;
    margin: 0 10px;
    font-size: 1rem;
    text-transform: uppercase;
    background: #846f5b;
    color: #f8f5f0;
    border: 1px solid #846f5b;
    font-weight: 600;
    cursor: pointer;
}