.about-wrapper{
    position: relative;
    display: flex;
    flex-direction: column;
}

.profile{
    margin: 50px 0;
    box-sizing: border-box;
    padding: 0 20px;
    align-self: center;
    max-width: 960px;
    width: 100%;
}

.profile-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 20px 0;
    align-content: stretch;
}

.contact-card{
    display: flex;
    align-items: center;
    background: #222;
    border: 1px solid #222;
    border-radius: 7px;
    height: 100px;
    margin: 20px;
}

.contact-card img{
    width: 80px;
    height: 80px;
    object-fit: contain;
    margin: 10px 10px;
    border-radius: 7px;
}

.contact-card h4{
    text-align: center;
}

@media screen and (max-width: 720px) {
    .profile-container{
        grid-template-columns: 1fr;
        justify-items: center;
    }

    .contact-card{
        width: 60%;
    }
}