.experience{
    position: relative;
    display: flex;
    flex-direction: column;
}

.experience-intro{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.experience-intro h1{
    margin: 30px;
}

.experience-intro p{
    padding: 2rem 10rem;
    text-align: center;
}

.internship, .current-role{
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding: 0 30px;
    max-width: 100%;
    margin-bottom: 20px;
}

.current-container, .internship-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 20px;
    justify-content: stretch;
    margin: 20px 0;
}

.exp-card{
    display: flex;
    align-items: top;
    background: #222;
    border: 1px solid;
    border-radius: 7px;
    margin-left: 20px;
}

.exp-card img{
    width: 40%;
    object-fit: contain;
    margin: 10px 10px;
    border-radius: 7px;
}

.exp-card-content{
    width: 100%;
    text-align: left;
    padding: 20px 10px;
}

.exp-card-content h2, h3, h4{
    padding-bottom: 10px;
}

@media screen and (max-width: 930px) {
    .exp-card{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 70%;
    }

    .exp-card-content{
        text-align: center;
    }

    .exp-card img{
        width: 50%;
    }

    .internship-container, .current-container{
        justify-items: center;
    }
}

@media screen and (max-width: 640px) {
    .internship-container, .current-container{
        grid-template-columns: 1fr;
    }
}