.skill-card{
    background: #1a1919;
    padding: 1.2rem;
    margin: 10px 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
}

.skill-card img{
    width: 150px;
    height: 150px;
    object-fit: contain;
}

.skill-card h4{
    color: #fff;
    padding: 1rem 0;
    /* margin-top: 1rem; */
    text-align: left;
}

@media screen and (max-width: 750px) {
    .skill-card{
        width: 150px;
        justify-self: center;
        justify-content: center;
        align-items: center;
    }

    .skill-card img{
        width: 100px;
        height: 100px;
    }
}